@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: #0a2138;
}


/* for backgroun image */

body {
    background: url("../pictures/octcat2.jpg") no-repeat center center fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.wrapper {
    position: relative;
    left: 0;
    width: 100%;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* the light blue rectangular  */

.profile_card {
    width: 400px;
    background: #d8dbe3;
    padding: 50px 25px;
    z-index: 1;
    opacity: 0.95;
    color: #3a2b40;
    text-align: center;
}


/* for showing the avatar */

.profile_img {
    margin: 20px;
    width: 80px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}


/* for user data like name, id, place and language */

.profile_data {
    margin: 10px;
}


/* icons used in the page */

.icon {
    margin: 5px;
}


/* for the full name of the user */

.name {
    font-size: 24px;
    font-weight: 500;
    margin: 15px 0 5px;
    display: block;
}


/* for the location of the user */

.place {
    font-size: 14px;
    font-weight: 300;
    margin: 10px;
    display: block;
}


/* for the most popular language the user has used in his repositories */

.language {
    font-size: 14px;
    font-weight: 300;
    margin: 10px;
    display: block;
}


/* for the github id of the user */

._id {
    font-size: 14px;
    font-weight: 300;
    margin: 10px;
    display: block;
}


/* for the bio of the user */

.profile_bio {
    font-size: 14px;
    font-weight: 400;
    margin: 10px;
}


/* for profile icons, followers, following, and repositories */

.profile_icons {
    display: flex;
    margin: 30px 0;
    justify-content: center;
}

.profile_icons .profile_item {
    margin-right: 15px;
}


/* font size of icons */

.profile_icons .icon,
.profile_icons .number {
    font-size: 20px;
}


/* style of icons' titles */

.profile_icons .title {
    font-size: 10px;
    text-transform: uppercase;
    margin: 10px 0;
}


/* stype of search box */

.search-box {
    position: relative;
    background: #91b8d9;
    height: 45px;
    border-radius: 77px;
    padding: -20px;
    margin: 10px;
}


/* to change the color of the search button when mouse goes over it*/

.search-box:hover>.search-btn {
    background: white;
    color: #91b8d9;
}


/* style of the search button */

.search-btn {
    color: #ffffff;
    float: right;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #1f5995;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
    border: none;
}


/* style of the placeholder text in search bar */

.search-box .search-txt {
    width: 240px;
    padding: 0 6px;
    top: 50px;
}


/* style of the text typed in the search bar */

.search-txt {
    border: none;
    background: none;
    outline: none;
    /* float: left; */
    padding: 0;
    font-size: 16px;
    transition: 0.4s;
    line-height: 45px;
    width: 0px;
}


/* style of error box */

.error {
    position: relative;
    border-radius: 10px;
    width: 380px;
    margin: 10px 10px;
    padding: 10px 20px 14px 26px;
    color: #efeeee;
    background-color: #cd4040;
    text-align: center;
    visibility: hidden;
    opacity: 0.98;
}


/* make the error box visible when an error occured */

.error.active {
    visibility: visible;
}