@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: #0a2138;
}

body {
    background: url("octcat2.jpg") no-repeat center center fixed;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.wrapper {
    position: relative;
    width: 325px;
    margin: 150px auto 0;
}

.profile_card {
    width: 400px;
    height: 550px;
    background: #d8dbe3;
    padding: 50px 25px;
    position: relative;
    z-index: 1;
    opacity: 0.95;
}

.profile_img {
    margin: 20px;
    width: 80px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.profile_card {
    color: #3a2b40;
    text-align: center;
}

.icon {
    margin: 5px;
}

.profile_card .profile_data .name {
    font-size: 24px;
    font-weight: 500;
    margin: 15px 0 5px;
    display: block;
}

.profile_card .profile_data .place {
    font-size: 14px;
    font-weight: 300;
    margin: 10px;
    display: block;
}

.profile_card .profile_data .language {
    font-size: 14px;
    font-weight: 300;
    margin: 10px;
    display: block;
}

.profile_card .profile_data ._id {
    font-size: 14px;
    font-weight: 300;
    margin: 10px;
    display: block;
}

.profile_bio {
    font-size: 14px;
    font-weight: 400;
    margin: 10px;
}

.profile_icons {
    display: flex;
    margin: 30px 0;
    justify-content: center;
}

.profile_icons .profile_item {
    margin-right: 15px;
}

.profile_icons .profile_item:last-child {
    margin-right: 0;
}

.profile_icons .icon,
.profile_icons .number {
    font-size: 20px;
}

.profile_icons .title {
    font-size: 10px;
    text-transform: uppercase;
    margin: 10px 0;
}

.search-box {
    position: relative;
    /* transform: translate(-50%, -50%); */
    background: #91b8d9;
    height: 45px;
    border-radius: 77px;
    padding: -20px;
    margin: 10px;
}

.profile_data {
    margin: 10px;
}

.search-box .search-txt {
    width: 240px;
    padding: 0 6px;
    top: 50px;
}

.search-box:hover>.search-btn {
    background: white;
    color: #91b8d9;
}

.search-btn {
    color: #ffffff;
    float: right;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #1f5995;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
    border: none;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    /* float: left; */
    padding: 0;
    font-size: 16px;
    transition: 0.4s;
    line-height: 45px;
    width: 0px;
}

.error {
    position: relative;
    border-radius: 10px;
    width: 380px;
    margin: 10px 10px;
    padding: 10px 20px 14px 26px;
    color: #efeeee;
    background-color: #cd4040;
    text-align: center;
    visibility: hidden;
    opacity: 0.98;
}

.error.active {
    visibility: visible;
}